---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->

    <!-- TEXT SVG -->
    <!-- Generator: https://danmarshall.github.io/google-font-to-svg-path/ -->
    <!-- Google font: Great Vibes -->
    <svg width="80" height="40" viewBox="0 0 265.1 69.303" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <g id="svgGroup" class="dark:fill-[#fdfdfd]" fill="#17191e" fill-rule="evenodd" stroke-linecap="round" font-size="9pt">
    <path vector-effect="non-scaling-stroke" d="M 229.3 47.001 L 229.7 47.201 Q 231.7 41.901 234.55 37.301 Q 237.4 32.701 241.2 29.901 Q 245 27.101 250 27.101 Q 255.3 27.101 258.05 30.301 Q 260.8 33.501 260.8 38.201 Q 260.8 40.201 260.4 42.051 Q 260 43.901 259.5 45.601 Q 259 47.201 258.6 48.851 Q 258.2 50.501 258.2 52.201 Q 258.2 55.301 259.7 57.251 Q 261.2 59.201 263.7 60.001 Q 264.4 60.201 264.75 60.551 Q 265.1 60.901 265.1 61.801 Q 265.1 62.701 264.5 64.401 Q 263.9 66.101 262.3 67.551 Q 260.7 69.001 257.6 69.001 Q 253.6 69.001 251.4 66.151 Q 249.2 63.301 249.2 58.801 Q 249.2 56.601 249.65 54.301 Q 250.1 52.001 250.7 49.901 Q 251.2 47.801 251.6 45.951 Q 252 44.101 252 42.801 Q 252 38.201 247.2 38.201 Q 243.2 38.201 240.15 41.051 Q 237.1 43.901 234.95 48.251 Q 232.8 52.601 231.4 57.201 L 231.4 60.601 Q 231.4 64.301 229.25 66.701 Q 227.1 69.101 223.9 69.101 Q 222.5 69.101 221.5 68.451 Q 220.5 67.801 220.7 66.701 Q 222.2 58.701 223.25 50.451 Q 224.3 42.201 224.3 33.801 Q 224.3 26.401 223.8 20.401 Q 223.3 14.401 220.6 8.901 Q 220.1 7.801 219.8 7.001 Q 219.5 6.201 219.5 5.501 Q 219.5 3.601 221.75 1.801 Q 224 0.001 226.5 0.001 Q 230 0.001 231.3 4.401 Q 232.6 8.801 232.6 17.401 Q 232.6 27.701 231.4 35.351 Q 230.2 43.001 229.3 47.001 Z M 88.5 47.001 L 88.8 47.101 Q 90.8 41.801 93.65 37.251 Q 96.5 32.701 100.3 29.901 Q 104.1 27.101 109.1 27.101 Q 114.4 27.101 117.2 30.301 Q 120 33.501 120 38.301 Q 120 40.301 119.55 42.101 Q 119.1 43.901 118.6 45.601 Q 118.1 47.201 117.75 48.901 Q 117.4 50.601 117.4 52.301 Q 117.4 58.001 122.8 60.001 Q 124.2 60.601 124.2 61.801 Q 124.2 62.701 123.6 64.401 Q 123 66.101 121.4 67.551 Q 119.8 69.001 116.7 69.001 Q 112.7 69.001 110.5 66.151 Q 108.3 63.301 108.3 58.901 Q 108.3 56.401 108.85 53.851 Q 109.4 51.301 110 49.101 Q 110.4 47.401 110.75 45.751 Q 111.1 44.101 111.1 42.801 Q 111.1 38.201 106.3 38.201 Q 102.2 38.201 99.1 41.251 Q 96 44.301 93.8 48.901 Q 91.6 53.501 90.2 58.201 L 90.2 60.601 Q 90.2 64.301 88.15 66.701 Q 86.1 69.101 82.6 69.101 Q 79 69.101 79.4 66.701 Q 80.5 62.401 81.25 57.951 Q 82 53.501 82 49.401 Q 82 44.101 81.35 41.651 Q 80.7 39.201 79.6 38.251 Q 78.5 37.301 76.9 36.801 Q 76.2 36.501 75.65 36.001 Q 75.1 35.501 75.1 34.601 Q 75.1 33.201 76.2 31.501 Q 77.3 29.801 79.35 28.551 Q 81.4 27.301 84 27.301 Q 87.4 27.301 88.7 29.651 Q 90 32.001 90 35.801 Q 90 38.301 89.5 41.401 Q 89 44.501 88.5 47.001 Z M 193.2 69.301 Q 189.5 69.301 186.3 68.201 Q 183.1 67.101 181.1 65.101 Q 179.1 63.101 179.1 60.301 Q 179.1 58.801 179.85 57.451 Q 180.6 56.101 182.3 56.101 Q 183.2 56.101 184.2 56.601 Q 186 57.601 188.8 58.451 Q 191.6 59.301 194.7 59.301 Q 198.2 59.301 200.9 58.301 Q 203.6 57.301 203.6 55.501 Q 203.6 54.101 201.55 53.501 Q 199.5 52.901 194.7 52.201 Q 191.4 51.601 188.3 50.801 Q 185.2 50.001 183.2 48.051 Q 181.2 46.101 181.2 42.301 Q 181.2 38.601 183.25 35.151 Q 185.3 31.701 189.4 29.401 Q 193.5 27.101 199.4 27.101 Q 202.5 27.101 205.4 27.801 Q 208.3 28.501 210.2 29.901 Q 212.1 31.301 212.1 33.401 Q 212.1 35.201 210.85 36.701 Q 209.6 38.201 207.95 39.151 Q 206.3 40.101 205.2 40.101 Q 204.4 40.101 203.3 39.001 Q 201.6 37.601 199.55 37.051 Q 197.5 36.501 195.5 36.501 Q 192.5 36.501 190.65 37.401 Q 188.8 38.301 188.8 39.701 Q 188.8 41.001 190.35 41.801 Q 191.9 42.601 194.2 42.951 Q 196.5 43.301 198.6 43.601 Q 204.4 44.401 207.8 46.351 Q 211.2 48.301 211.2 53.201 Q 211.2 57.001 209.05 60.751 Q 206.9 64.501 202.85 66.901 Q 198.8 69.301 193.2 69.301 Z M 49.2 69.301 Q 41.6 69.301 37.35 64.951 Q 33.1 60.601 33.1 52.801 Q 33.1 45.701 36.2 39.901 Q 39.3 34.101 44.55 30.651 Q 49.8 27.201 56.1 27.201 Q 62.1 27.201 65.7 30.151 Q 69.3 33.101 69.3 38.001 Q 69.3 41.901 66.9 45.201 Q 64.5 48.501 60.5 50.451 Q 56.5 52.401 51.6 52.401 Q 45.6 52.401 41.8 49.701 Q 41.9 54.301 44.95 57.101 Q 48 59.901 52.8 59.901 Q 55.7 59.901 58.75 58.851 Q 61.8 57.801 64 56.001 Q 65.4 54.801 66.6 54.801 Q 67.6 54.801 68.25 55.451 Q 68.9 56.101 68.9 57.101 Q 68.9 59.301 65.1 62.901 Q 58.4 69.301 49.2 69.301 Z M 7.5 69.101 Q 5.9 69.101 4.95 68.551 Q 4 68.001 4.3 66.701 Q 5.4 62.401 6.15 57.951 Q 6.9 53.501 6.9 49.401 Q 6.9 44.101 6.25 41.651 Q 5.6 39.201 4.5 38.251 Q 3.4 37.301 1.8 36.801 Q 1.1 36.501 0.55 36.001 Q 0 35.501 0 34.601 Q 0 33.201 1.1 31.501 Q 2.2 29.801 4.2 28.551 Q 6.2 27.301 8.8 27.301 Q 12.2 27.301 13.55 29.651 Q 14.9 32.001 14.9 35.801 Q 16.7 31.801 19.35 29.451 Q 22 27.101 26 27.101 Q 28.7 27.101 30.5 28.301 Q 32.3 29.501 32.3 32.201 Q 32.3 34.901 30.55 37.251 Q 28.8 39.601 27 39.601 Q 26.7 39.601 26.3 39.501 Q 25.9 39.401 25.6 39.001 Q 24.3 37.401 22.4 37.401 Q 19.5 37.401 17.3 41.201 Q 15.1 45.001 14.9 51.701 Q 15 54.201 15.05 56.801 Q 15.1 59.401 15.1 60.601 Q 15.1 64.301 13.05 66.701 Q 11 69.101 7.5 69.101 Z M 139.1 69.001 Q 136.1 69.001 134.4 67.351 Q 132.7 65.701 132.7 61.701 Q 132.7 59.401 133.15 57.201 Q 133.6 55.001 134.2 52.901 Q 134.9 50.701 135.35 48.401 Q 135.8 46.101 135.8 43.501 Q 135.8 41.701 135.3 40.051 Q 134.8 38.401 133.1 37.601 Q 131.8 36.901 130.85 36.151 Q 129.9 35.401 129.9 34.201 Q 129.9 32.801 131.2 31.201 Q 132.5 29.601 134.65 28.451 Q 136.8 27.301 139.1 27.301 Q 141.6 27.301 142.75 28.601 Q 143.9 29.901 144.3 31.901 Q 144.7 33.901 144.7 36.001 Q 144.7 39.201 144.2 42.251 Q 143.7 45.301 143.2 47.901 Q 142.8 49.801 142.6 51.401 Q 142.4 53.001 142.4 54.401 Q 142.4 56.901 143.6 58.151 Q 144.8 59.401 147 60.501 Q 147.9 61.001 147.9 62.001 Q 147.9 62.801 147.1 64.501 Q 146.3 66.201 144.35 67.601 Q 142.4 69.001 139.1 69.001 Z M 139 18.301 Q 136.2 18.201 134.5 16.601 Q 132.8 15.001 132.8 12.101 Q 132.9 9.001 134.9 7.051 Q 136.9 5.101 140 5.201 Q 142.9 5.301 144.55 6.901 Q 146.2 8.501 146.1 11.401 Q 146 14.401 144.1 16.351 Q 142.2 18.301 139 18.301 Z M 163.7 68.901 Q 160.9 68.901 159.15 67.101 Q 157.4 65.301 157.4 62.501 Q 157.4 59.601 159.3 57.701 Q 161.2 55.801 164.2 55.801 Q 167 55.801 168.7 57.501 Q 170.4 59.201 170.4 62.001 Q 170.4 65.001 168.5 66.951 Q 166.6 68.901 163.7 68.901 Z M 50.7 45.801 Q 54.3 45.801 56.7 44.301 Q 59.1 42.801 59.1 40.501 Q 59.1 38.601 57.5 37.551 Q 55.9 36.501 53.1 36.501 Q 49.4 36.501 46.65 38.451 Q 43.9 40.401 42.7 43.901 Q 44.1 44.801 46.3 45.301 Q 48.5 45.801 50.7 45.801 Z" />
  </g>
</svg>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;

      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }
</style>
